<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SSR Panel</title>
    <meta name="description" content="user ssr panel">
    <meta name="keywords" content="ssr list">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/home/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/home/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="ssr list" />
    <link rel="stylesheet" href="/static/home/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/home/css/admin.css">
    <link rel="stylesheet" href="/static/home/css/app.css">
</head>

<body data-type="generalComponents">
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="javascript:;" class="tpl-logo">
                <img src="/static/home/img/logo.png" alt="">
            </a>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
            <span class="am-sr-only">导航切换</span>
            <span class="am-icon-bars"></span>
        </button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                <li class="am-hide-sm-only">
                    <a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link">
                        <span class="am-icon-arrows-alt"></span>
                        <span class="admin-fullText">开启全屏</span>
                    </a>
                </li>

                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">{{session['username']}}</span>
                        <span class="tpl-header-list-user-ico">
                            <img src="/static/home/img/user01.png">
                        </span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li>
                            <a href="/setting">
                                <span class="am-icon-cog"></span> 设置</a>
                        </li>
                        <li>
                            <a href="/logout">
                                <span class="am-icon-power-off"></span> 退出</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/logout" class="tpl-header-list-link">
                        <span class="am-icon-sign-out tpl-header-list-ico-out-size"></span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="tpl-page-container tpl-page-header-fixed">
            <div class="tpl-left-nav tpl-left-nav-hover">
                    <div class="tpl-left-nav-title">
                        用户列表
                    </div>
                    <div class="tpl-left-nav-list">
                        <ul class="tpl-left-nav-menu">
                            <li class="tpl-left-nav-item">
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-table"></i>
                                    <span>SSR配置</span>
                                    <!-- 列表打开状态的i标签添加 tpl-left-nav-more-ico-rotate 图表即90°旋转  -->
                                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                                </a>
                                <ul class="tpl-left-nav-sub-menu">
                                    <li>
                                        <!-- 打开状态 a 标签添加 active 即可   -->
                                        <a data-am-modal="{target: '#change'}" href="/list" >
                                            <i class="am-icon-angle-right"></i>
                                            <span>我的配置</span>
                                            <i class=" tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="tpl-left-nav-item">
                                <a href="/setting" class="nav-link tpl-left-nav-link-list active">
                                    <i class="am-icon-key"></i>
                                    <span>账号设置</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>




        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                账号设置
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li class="am-active">账号设置</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 用户信息
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>


                </div>

                <div class="tpl-block">

                    <div class="am-g">
                        <div class="tpl-form-body tpl-form-line">
                            <form class="am-form tpl-form-line-form" method="POST">

                                <div class="am-form-group">
                                    <label for="password" class="am-u-sm-3 am-form-label">用户密码 <span class="tpl-form-line-small-title">Password</span></label>
                                    <div class="am-u-sm-9">
                                        {{form.password}}
                                        <small>
                                            {% if form.password.errors %}
                                            {% for error in form.password.errors %}
                                                {{error}}
                                            {%endfor%}
                                            {% else %}
                                                修改后提交。
                                            {% endif %}
                                        </small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                    </div>
                                    {{form.csrf_token}}
                                </div>
                            </form>

                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <script src="/static/home/js/jquery.min.js"></script>
    <script src="/static/home/js/amazeui.min.js"></script>
    <script src="/static/home/js/app.js"></script>
    <script>
        document.getElementById("password").value = "{{session['password']}}";
    </script>
</body>

</html>